body{
	background: url("../img/back.png") no-repeat center fixed;
	background-size: cover;
	background-color: #49C8EA;
	font-family: Trebuchet MS;
}
#contain{
	display: flex;
	margin: 50px auto;
	max-width: 350px;
	background-color: white;
	border-radius: 10px;
}
h1{
	display: block;
	font-size: 30pt;
	text-align: left;
	font-style: italic;
	margin: 20px;
	vertical-align: middle;
}
.f-element{
	max-width: 300px;
	margin: 15px;
}
hr{
	display: block;
    height: 5px;
    border-top: 1px solid darkgray;
}
.btn{
	background-color:#5D67ED;
	color: white;
	border-radius: 20px;
}
.grayout {
    opacity: 0.6; /* Real browsers */
    filter: alpha(opacity = 60); /* MSIE */
}
.italic{
	font-style: italic;
}