body { padding-top: 70px;font-family: Trebuchet MS; }

#ham-box {
    width: 60px;
    height: 100%;
    position: relative;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
    transform: scale(0.4);
}
#ham-box span{
	display: block;
	position: absolute;
	height: 9px;
	width: 100%;
	background: white;
	border-radius: 9px;
	opacity: 1;
	left: 0;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: .25s ease-in-out;
	-moz-transition: .25s ease-in-out;
	-o-transition: .25s ease-in-out;
	transition: .25s ease-in-out;
}
#ham-box  span:nth-child(1) {
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}
#ham-box  span:nth-child(3) {
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}
#ham-box  span:nth-child(5) {
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}
#ham-box.open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
#ham-box.open span:nth-child(3) {
  width: 0%;
  opacity: 0;
}
#ham-box.open span:nth-child(5) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#sidebar{
	background:#323144;
	width: 20%;
	height: 100%;
	left: 0%;
	top:70px;
	position: fixed;	
	transition: left 0.2s linear;
}
#sidebar.visible{
	left: -20%;
	transition: left 0.2s linear;
}
#sidebar ul{
	margin: 0px;
	padding:0px;
}
#sidebar ul li{
	list-style: none;
}
#sidebar ul li a{
	background-color: #272635;
	color:#ccc;
	border-bottom:1px solid #111;
	width: 100%;
	display: block;
	padding: 20px;
	text-decoration: none;
	font-size: 13pt;
}
#sidebar ul li a:hover{
	background-color: #202020;
	color: white;
}
.logo{
 	color:white;
 }
 .hamburger{
 	color:white;
 }

#navigation{
    padding: 2px;
    border-radius: 0px;
    margin:0px;
    background-image: url('../img/bg.png');
    background-size: cover;
    background-position: center;
    border: 0px;
}

.nav.navbar-nav.navbar-right li a {
    color: black;
    font-style: italic;
}
img-user{
    height:10px;
    width: 50px;
}
.table-condensed>thead>tr>th, .table-condensed>tbody>tr>th, .table-condensed>tfoot>tr>th, .table-condensed>thead>tr>td, .table-condensed>tbody>tr>td, .table-condensed>tfoot>tr>td{
    padding: 5px;
    vertical-align: middle;
}

.content-custom{
    left:20%;
    width:80%
}
.toggle-width{

}
.text-area{
    resize:none;
}
.pad-left{
    padding-left: 20px;
}
input[type="checkbox"]{
  width: 100%;
  height: 30px; /*Desired height*/
  cursor: pointer;
}

.tab-header{
    font-size: 11pt;
    font-weight:bold;
    color:black;
}
.task{
    border: darkgray 1px solid;
    border-radius: 3px;
    box-shadow: 2px 4px 5px lightgray;
    padding: 5px; 
    margin: 12px;
}
.emp-deet{
    color:black;
    font-weight: bold;
}
.task-header{
    text-decoration: none;
    font-weight:bold;
    font-size: 11.5pt;
    margin:3px;
}
.task-header:hover{
    cursor:pointer;
}
.task-desc{
    font-size: 10pt;
    display: none;
    font-weight:bold;
    margin:3px;
}
.badge{
    background-color: white;
    color:transparent;
    cursor:pointer;
}
.badge a{
    color:black;
    text-decoration: none;
}
.badge-bar-left{
    background-color: #2F4F4F;
    color:white;
    border-radius: 10px 0% 0% 10px;
}
.badge-bar-right{
    border-radius: 0% 10px 10px 0%;
}
.badge-bar-center{
    border-radius: 0px;
}
.date-given{
    font-style: italic;
}
.last-date{
    font-weight: bold;
    margin:0px;
}
.taskp-high{
    background-color: #D9534F;
    color:white;
}
.taskp-medium{
    background-color: #F0AD4E;
    color:white;
}
.taskp-low{
    background-color: #0275D8;
    color:white;
}
